<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Markdown Blog</title>
</head>
<body>
  <div class="contiainer">
    <h1>Blog Articles</h1>
    <a href="/articles/new">New Article</a>
    
    <% articles.forEach(article => { %>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= article.title %></h4>
          <div class="card-subtitle">
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text"><%= article.description %></div>
          <a href="articles/<%= article.slug %>">Read More</a>
          <!-- delete 경우 anchor 태그시 구글 크롤링하는 경우 봇이 삭제해버림-->
          <form action="/articles/<%= article.id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
        </div>
      </div>
    <% }) %>
  </div>
</body>
</html>  