<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Markdown Blog</title>
  <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="flex_row flex_between">
      <h1>블로그</h1>
      <a class="a_write btn_write" href="/articles/new">새 글 작성</a>
    </div>
    <div class="flex_row">
      <% articles.forEach(article => { %>
        <div class="item">
          <div>
            <h4 class="ellipsis mx_8"><%= article.title %></h4>
            <div class="date">
              <%= article.createdAt.toLocaleDateString() %>
            </div>
          </div>
          <div class="ellipsis mx_8">
            <%= article.description %>
          </div>
          <div class="ellipsis mx_8">
            <%- article.sanitizedHtml %>
          </div>
          <div class="flex_row mx_8">
            <a class="btn btn_blue" href="articles/<%= article.slug %>">Read More</a>
            <form class="" action="/articles/<%= article.id %>?_method=DELETE" method="POST">
              <button class="btn btn_red" type="submit">Delete</button>
            </form>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</body>
</html>  